# Week 2 - Monday Lesson (variable assignment, loops, lists)

## Tasks Today:

1) Int & Float assignments <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Assigning int <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Assigning float <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Performing Calculations on ints and floats <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Addition <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Subtraction <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Multiplication <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Floor Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Modulo <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Exponential <br>
2) String Input-Output <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) String Assignment <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) print() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) String Concatenation <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Type Conversion <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) input() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) format() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) Old Way (python 2) <br>
3) <b>In-Class Exercise #1</b> <br>
4) If Statements <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) 'is' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) 'not in' keyword <br>
5) <b>In-Class Exercise #2</b> <br>
6) Elif Statements <br>
7) Else Statements <br>
8) <b>In-Class Exercise #3</b> <br>
9) For Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Using 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Continue Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Break Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Pass Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Double For Loops <br>
10) While Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Looping 'While True' <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) While and For Loops Used Together <br>
11) Built-In Functions <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) range() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) len() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) help() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) isinstance() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) abs() <br>
12) Try and Except <br>
13) Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Declaring Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Indexing a List <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) .append() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) .insert() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) .pop() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) .remove() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) del() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; h) Concatenating Two Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; i) Lists Within Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; j) Looping Through Lists <br>

### Int & Float Assignments

##### Assigning int

In [7]:
# int is a whole number
# syntax: variable = value
number = 6
print(number)

6

##### Assinging float

In [8]:
# float is a number with a decimal value 
number_float = 2.6
print(number_float)

2.6

#### Performing Calculations on ints and floats

##### Addition

In [11]:
num1 = 5
num2 = 2.4
result = num1 + num2

print(result)
# shorthand for incrementing
# result = result + 2
result +=2
print(result)

7.4
9.4

##### Subtraction

In [13]:
result_diff = 5 - num1
print(result)

# decrementation
# result_diff = result_diff - 1

result_diff -= 1
print(result_diff)

9.4
-1

##### Multiplication

In [16]:
result_mul = num1 * num2
print(result_mul)

result_mul *= 2
print(result_mul)

12.0
24.0

##### Division

In [20]:
result_div = 50 / num1
print(result_div)

#shorthand
result_div /= 2
print(result_div)

10.0
5.0

##### Floor Division

In [24]:
result_floor = 20 // 7
print(result_floor)

result_floor //= 2
print(result_floor)

2
1

##### Modulo

In [26]:
result_mod = 13 % 2
print(result_mod)

1

##### Exponential

In [29]:
squared = 10**2
print(squared)

#shorthand exponent incrementation
squared **= 2
print(squared)

100
10000

### String Input-Output

##### String Assignment

In [30]:
name = "Nate"
print(name)

Nate

##### print() <br>
<p>Don't forget about end=' '</p>

In [45]:
print("This is my first name:", name)
print("Full Name:", name, end=" Welter")

#help
help(print)

This is my first name: Nate
Full Name: Nate WelterHelp on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

##### String Concatenation

In [53]:
first = "James"
last = "Bond"

full_name = first + " " + last
print(full_name)

#shorthand
full_name += " Jr"
print(full_name)

James Bond
James Bond Jr

##### Type Conversion

In [60]:
number = "45"
new_type = int(number)

type(new_type)
# MUST be used to convert number values only (no letters) - below will cause an error
# some_word = coding
#int(some_code)

int

##### input()

In [92]:
name = input("What is your name?")
print(name)
age = int(input('What is your age?'))
add_age = age + 1
print(add_age)

What is your name?aaron
aaron
What is your age?29
30

##### format()

In [69]:
time = input("How long have you been at Coding Temple?")
#non efficient way..
#sentence = "Your name is" + name + " " + "you have been at CT for " + time
#print(sentence)

#formatted string EFFICIENT
result = "Your name is {} you have been at CT for {}".format(name,time)
print(result)


#f string - MOST COMMON
result_2 = f"Your name is {name} you have been at CT for {time}!"
print(result_2)

How long have you been at Coding Temple?1.3 years
Your name is Nate you have been at CT for 1.3 years!

## Old Way (python 2)

In [70]:
#Old fashioned way... but you may see this occasionally in older docs
result_3 = "You have been at CT for %s" %time
print(result_3)

You have been at CT for 1.3 years

# In-Class Exercise 1 <br>
<p>Create a format statement that asks for color, year, make, model and prints out the results</p>

In [90]:
color = input("What color is your car?")
year = input("What year is your car?")
make = input("What company produced your car?")
model = input("What model of car do you have?")

car_statement=f"I am driving a {color} {year} {make} {model}."
print(car_statement)

What color is your car?white
What year is your car?2002
What company produced your car?chevy
What model of car do you have?blazer
I am driving a white 2002 chevy blazer.

### If Statements

In [102]:
# Available operators: Greater(>), Less(<),Equal(==)
# Greater or Equal(>=), Less or Equal (<=)

num1 = 5
num2 = 10

if num1 == num2:
    print ("Equal Values")
else:
    print ("Not equal")
    
if num1 >= num1:
    print("num2 is greater or equal")
elif num2 <= num1:
    print("num2 less or equal")

Not equal
num2 is greater or equal

##### 'is' keyword

In [111]:
# use is if we are checking for the same or similar object, not necessarily the same value
num3 = "Nate"
num4 = "Nate"

if num3 is num4:
    print('This is the exact object')

This is the exact object

##### 'in' keyword

In [109]:
#Check if a character is in a name

char_name = "Max Payne"

if "Max" in char_name:
    print("The character who lost everything...")

The character who lost everything...

##### 'not in' keyword'

In [113]:
char_two = "Sonic"
if 'a' not in char_two:
    print("This is not an a")

This is not an a

# In-Class Exercise 2 <br>
<p>Ask user for input, check to see if the letter 'p' is in the input</p>

In [123]:
#output -- True (if p exists in answer) Falst (if p does not exist)

name = input("What is your name?")
if "p" in name: 
    print(True)
else:
    print(False)

#shorthand to return a boolean value
"p" in name

What is your name?aaron

False

## Using 'and'/'or' with If Statements

In [136]:
# Truth Tree:
# T && F = F
# T && T = T
# T || F = T
# F || T = T
# F || F = F

num_1 = 15
num_2 = 3
num_3 = 10
num_4 = 2

# if with "and"
if num_1 / 5 == num_2 and num_3 - 8 == 2:
    print("True and True")
else:
    print("Not true")
    
# if with "or"
if 15 - 7 == 9 or 2 + 2 == 4:
    print("At least one is true")
else:
    print("Neither true")

True and True
At least one is true

### Elif Statements

In [155]:
school_name = "Indiana University"
#or do an input
school_name = input("What school do you go to?")

if school_name == "Indiana University":
    print("This is ISU")
elif school_name == "Coding Temple":
    print("It is not IU, it is CT")
elif school_name != "CTU":
    print("Not IU, not CT, not CTU!")
else:
    print(f"I have never heard of {school_name}")
    
num = 15
if num / 5 == 3:
    print("The number is 15")
elif num * 3 > 45:
    print("The number is at least 15")

What school do you go to?Indiana University
This is ISU
The number is 15

### Else Statements

In [ ]:
# see above

### For Loops

In [173]:
# "for" keyword, counter, "in" keyword

name = "Nate Welter"

for x in name:
    print(x)
    
for i in range(len(name)):
    print(f'name[{i}] == {name[i]}')

N
a
t
e

W
e
l
t
e
r
name[0] == N
name[1] == a
name[2] == t
name[3] == e
name[4] ==
name[5] == W
name[6] == e
name[7] == l
name[8] == t
name[9] == e
name[10] == r

##### Using 'in' keyword

In [ ]:
# see above

##### Continue Statement

In [ ]:
# will continue to next iteration

In [175]:
for i in range(20):
    if i %3 == 0:
        continue
    print(i)

1
2
4
5
7
8
10
11
13
14
16
17
19

##### Break Statement

In [ ]:
# will break out of current loop

In [178]:
for i in range(20):
    if i == 7:
        break
    print(i)

0
1
2
3
4
5
6

##### Pass Statement

In [ ]:
# mostly used as a placeholder, and will continue on same iteration

In [ ]:
for i in name: 
    pass #to do item: telling yourself to come back and finish item(will not break code and cause errors)

##### Double For Loops

In [189]:
for i in range(3):
    for j in range(3):
        print(f"i = {i}, j = {j}")

i = 0, j = 0
i = 0, j = 1
i = 0, j = 2
i = 1, j = 0
i = 1, j = 1
i = 1, j = 2
i = 2, j = 0
i = 2, j = 1
i = 2, j = 2

### While Loops

In [191]:
# while keyword, conditional statement
# whole looping functionality is directly tied to condition remaining true
# don't print without a breakpoint or it will print infinitely

num = 0
while num < 5:
    print(num)
    num += 1

0
1
2
3
4

##### Looping 'While True'

In [192]:
#always have break statement or it will print infinitely
while True:
    name = input("What is your name? type 'quit' to quit")
    if name == 'quit':
        break
    else:
        print(f"Hello There {name}!")

What is your name? type 'quit' to quitaaron
Hello There aaron!
What is your name? type 'quit' to quitquit

##### While & For Loops Used Together

In [195]:
num = 0

while num < 5:
    print("While Loop iteration:", num)
    
    for i in range(2):
        print("For Loop iteration:", i)
        
    num += 1

While Loop iteration: 0
For Loop iteration: 0
For Loop iteration: 1
While Loop iteration: 1
For Loop iteration: 0
For Loop iteration: 1
While Loop iteration: 2
For Loop iteration: 0
For Loop iteration: 1
While Loop iteration: 3
For Loop iteration: 0
For Loop iteration: 1
While Loop iteration: 4
For Loop iteration: 0
For Loop iteration: 1

### Built-In Functions

##### range()

In [203]:
# start, stop, step
# goes up to stop, not including stop

for i in range(2, 30, 4):
    print(i)

2
6
10
14
18
22
26

##### len()

In [207]:
# checks length of the variable

name = "John"

length = len(name)
print(length)

4

##### help()

In [211]:
# use this for documentation/help for built-in python functions

help(len)

Help on built-in function len in module builtins:

len(obj, /)
    Return the number of items in a container.

##### isinstance()

In [220]:
print(isinstance(4.5, float))

if isinstance(4.5, float):
    print("It is a float")

True
It is a float

##### abs()

In [223]:
#absolute value i.e. distance from zero
print(abs(-15))

15

### Try and Except

In [230]:
# use when you expect code to be broken (usually by another users incorrect input)
# allows program to keep running and look for more graceful error messages

try: 
    number_test = 0
    input_num = int(input("Guess a number!"))
    if input_num == number_test:
        print("You guessed correctly!")
    else:
        print("Sorry, good luck!")
except:
    print("That did not work -- try again as a number")

Guess a number!nine
That did not work -- try again as a number

### Lists

##### Declaring Lists

In [235]:
list_1 = [] #empty list
list_2 = ['Max', 'Cindy', 'Kathy', 'Bob']
print(list_2)

['Max', 'Cindy', 'Kathy', 'Bob']

##### Indexing a List

In [250]:
# syntax: list_name[start:stop:step]

# single index -- list_name[index]
print(list_2[0])

#negative single index counts from end of list
print(list_2[-1])

# print starting at index 1, go until end
print(list_2[1:])

# print everything from start up to index 2
print(list_2[:2])

# print beginning at index 1, go through end (blank), step by 2 
print(list_2[1::2])

# print starting at end in reverse order
print(list_2[::-1])

Max
Bob
['Cindy', 'Kathy', 'Bob']
['Max', 'Cindy']
['Cindy', 'Bob']
['Bob', 'Kathy', 'Cindy', 'Max']

##### .append()

In [253]:
list_2.append("Joel")
print(list_2)

['Max', 'Cindy', 'Kathy', 'Bob', 'Joel']

##### .insert()

In [261]:
# list_name.insert(index, value)

list_2.insert(1, "Cindy")
print(list_2)

['Max', 'Cindy', 'Nate', 'Nate', 'Kathy', 'Bob', 'Joel']

##### .pop()

In [265]:
# default to the very last index if no parameter
# pop returns the element you pop, so you can store it as a variable and use if you want

my_name = list_2.pop(2)
print(my_name)
print(list_2)

Nate
['Max', 'Cindy', 'Kathy', 'Bob', 'Joel']

#### .remove()

In [268]:
# value to be removed, not an index

print(list_2)
list_2.remove('Bob')

#remove all instances of particular value
while 'Bob' in list_2:
    list_2.remove('Bob')
    print("Removing Bob's", list_2)

['Max', 'Cindy', 'Kathy', 'Joel']

ValueError: list.remove(x): x not in list

##### del()

In [269]:
#list index to be removed, not a value in particular
#BE CAREFUL, can cause indexing errors
del(list_2[1])
print(list_2)

['Max', 'Kathy', 'Joel']

##### Concatenating Two Lists

In [270]:
# will append two or more lists using the '+' operator, will not add up items in list
list_2 = [0,1,2]
list_3 = [3,4,5]
list_4 = list_2 + list_3
print(list_4)

[0, 1, 2, 3, 4, 5]

##### Lists Within Lists

In [278]:
# list can hold any datatype OR object used in python
# can have lists within other lists

names = ['Jeff', 'Sam', 'josh', 'Tabitha',['Tameka', 'Sally', 'Jessica']]

print(names)

print(names[4][2])

['Jeff', 'Sam', 'josh', 'Tabitha', ['Tameka', 'Sally', 'Jessica']]
Jessica

##### Looping Through Lists

In [280]:
# two different ways to loop : by value, by index

# loop by value
for name in names:
    print(name)
    
# loop by index
for i in range(len(names)):
    print(names[i])

Jeff
Sam
josh
Tabitha
['Tameka', 'Sally', 'Jessica']
Jeff
Sam
josh
Tabitha
['Tameka', 'Sally', 'Jessica']

## Exercise #1 <br>
<p>Cube Number Test... Print out all cubed numbers up to the total value 1000. Meaning that if the cubed number is over 1000 break the loop.</p>

In [294]:
for i in range(1, 11):
    print(i, i**3)

1 1
2 8
3 27
4 64
5 125
6 216
7 343
8 512
9 729
10 1000

## Exercise #2 <br>
<p>Get first prime numbers up to 100</p>

In [340]:
num = 100

for n in range(1, num):

    for i in range(2, n):

        if(n % i == 0):

            break

    else:

        print(n)

1
2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97

# Exercise 3 <br>
<p>Take in a users input for their age, if they are younger than 18 print kids, if they're 18 to 65 print adults, else print seniors</p>

In [339]:
age = int(input("What is your age? "))

if age < 18:
    print("kids")
elif age <= 65:
    print("adults")
else:
    print("seniors")

What is your age? 29
adults